html{overflow-y:scroll;}
	body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}
		.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
			a{outline:none; text-decoration:none;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}


/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:center;}

.row1, .row1 a{color:#ff5a0b; background-color:#55c4da;}
.row2{color:#ff5a0b; background-color:#a7dbd8;}
.row2 a{color:#ff5a0b; background-color:#a7dbd8;}
.row3, .row3 a{color:#ff5a0b; background-color:#55c4da;}


/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto;}
nav ul{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:22px; font-weight:normal; font-style:italic; line-height:normal;}
.two_quarter{display:block; float:left; margin:0 20px 0 0;}
.two_quarter{width:470px;}
.lastbox{margin-right:0;}

/*----------------------------------------------Header-------------------------------------*/

#header{padding:20px 0;}

#header #hgroup{float:center; margin:0 0 20px 0;}
#header #hgroup h1{font-size:45px;}

#header nav{display:block; width:100%; margin:0; padding:20px 0; color:#ff5a0b; background-color:#a7dbd8; clear:both;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li a{color:#ff5a0b; background-color:#a7dbd8;}
#header nav li a:hover{color:#a7dbd8; background-color:#55c4da;}


/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; margin-bottom:40px; padding:0;}


/* ------Slider-----*/

#container #slider{width:100%;}
#container #slider figure figcaption{display:block; float:left; width:290px; height:260px; padding:20px; overflow:hidden; color:#ff5a0b; background-color:#55c4da; line-height:1.6em;}
#container #slider figure h2{font-size:45px; font-weight:normal; font-style:italic; text-transform:none;}


/* ------Main Content-----*/

#container #intro{width:100%; margin-bottom:60px; padding-bottom:20px; border-bottom:2px solid #55c4da;}
#container #intro section article figure ul{width:100%; margin:0; padding:0; list-style:none;}
#container #intro section article figure ul li{float:left; margin:0 25px 0 0;}
#container #intro section article figure ul li.last{margin:0;}
#container #intro section article figure ul li img{width:130px; height:130px; margin:0; padding:4px; border:1px solid #55c4da;}



/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0; text-align:center;}