body{
    margin: 0;
    padding: 0;
}
#login {
max-width: 340px;
margin:100px auto;
background:#660033;
}
#login h3{
    text-align: center;
    padding: 25px 10px;
    font-size: 22px;
    background: #009900;
    color:#fff;
}
form{
    padding: 0;
    margin: auto;
    padding: 15px;
}
input[type='text'],
input[type="email"]{
    width: 100%;
    color: #888;
    padding: 15px;
    margin-bottom: 10px;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
.logbtn {
    background-color: #cc9933;
    width: 50%;
    padding: 100px;
    margin-bottom: 50px;
    border: none;
    color: #eee;
    border-bottom: 4px solid transparent;
}
.logbtn:hover{
    opacity: 0.9;
    border-color: #7a5610;
}
 
form p{
    text-align: center;
    color: #888;
    width: 30px;
    margin: 10px auto 0;
    background: #f9f9f9;
    position: relative;
    bottom: 20px;
}
border-p{
    border-top: 1px solid #888;
    margin: 10px 10px;
}
button{
    background-color: #3b5998;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    border: none;
    color: #eee;
    border-bottom: 4px solid transparent;
}
 
button:hover{
    opacity: 0.9;
    border-color: #3b3998;