nav, nav .nav-wrapper i{
	height: 46px;
	line-height: 46px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav i.material-icons{
	font-size: 1.5rem;
}

iframe{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0px;
	min-height: 100%;
}

footer.page-footer{
	margin-top: 0px;
}

.navbar-fixed{
	height: 46px;
}